:root {
    --bgnd-main: #E0E2DB;
    --bgnd-subtle: #BEB7A4;
    --text: #191716;
    --brand-accent: #E6AF2E;
    --brand-primary: #3D348B;

    color: var(--text);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}


/* Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid var(--text);
    background-color: var(--bgnd-subtle);
}

nav {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 70vw, 800px);
    padding: 0px 20px;
    gap: 10px;
    margin: auto;
}

#content {
    flex: 1;
    background-color: var(--bgnd-main);
    padding: 24px 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 24px;
    width: max(35vw, 350px);
}

.menu-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: clamp(250px, 80vw, 900px);
}

.menu-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}


/* Components */

.sitename {
    margin: 30px auto;
    font-size: 3rem;
    font-weight: 600;
}

.nav-btn {
    position: relative;
    width: 200px;
    margin-bottom: -1px;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0;
    
    background-color: color-mix(in srgb, var(--bgnd-main) 60%, transparent);
    color: var(--text);
    outline: none;
    
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-btn-inactive {    
    background-color: color-mix(in srgb, var(--bgnd-main) 60%, transparent);
}

.nav-btn-active {
    border-bottom: none;
    background-color: var(--bgnd-main);

    box-shadow: 0 3px var(--brand-accent) inset;
    cursor: auto;
}

.nav-btn-inactive:hover {
    box-shadow: 0 3px var(--brand-primary) inset;
}

.nav-btn:focus-visible {
    outline: 2px solid var(--brand-primary);
    outline-offset: -2px;
}

.nav-btn-inactive:active {
    background-color: var(--bgnd-main);
    box-shadow: 0 3px var(--brand-primary) inset;
}

.home-content figure {
    width: 100%;
}

.home-content .hero-image {
    border: 4px solid var(--brand-primary);
    border-radius: 10px;
}

.home-content figcaption {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
}

.home-content figcaption em {
    text-decoration: underline;
}

.home-content p {
    font-size: 1.2rem;
    text-align: justify;
}

.menu-content h2 {
    text-align: center;
    margin-bottom: 12px;
}

.menu-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
    border: 2px solid var(--brand-primary);
    border-radius: 5px;
    background-color: color-mix(in srgb, var(--bgnd-subtle) 60%, transparent);
}

.menu-card .menu-card-description {
    flex: 1;
    min-width: 225px;
}

.menu-card img {
    border-radius: 5px;
    border: 2px solid var(--brand-primary);
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}